[defaults]

inventory = ./hosts.ini
remote_user = dren
host_key_checking = False
callback_result_format = yaml
interpreter_python = auto_silent
forks = 10

[privilege]

become = True
become_method = sudo
become_user = root