[defaults]

inventory = ./hosts.ini
remote_user = dren
host_key_checking = False
stdout_callback = yaml
interpreter_python = auto_silent

[privilege]

become = True
become_method = sudo
become_user = root