# --- MariaDB ---
DB_NAME=wordpress
DB_USER=wp_user
DB_PASSWD=change_me
DB_ROOT_PASSWD=change_me_too

# --- WordPress ---
TITLE=Inception
WP_ADMIN_NAME=change_me
WP_ADMIN_PASSWD=change_me
WP_USER_NAME=change_me
WP_USER_PASSWD=change_me
