map $http_x_forwarded_proto $fastcgi_https {
	default "";
	https   on;
}

server {

	listen 80 default_server;
	listen [::]:80 default_server;
	server_name {{ DOMAIN_NAME }};

	root /var/www/html;
	index index.php index.html;
	add_header X-Served-By {{ inventory_hostname }} always;

	absolute_redirect off;

	location = /healthz {
		access_log off;
		include fastcgi.conf;
		fastcgi_pass wordpress:9000;
	}

	location / {
		try_files $uri $uri/ /index.php?$args;
	}

	location ~ \.php$ {
		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		fastcgi_pass wordpress:9000;
		fastcgi_index index.php;
		include fastcgi.conf;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_param HTTPS $fastcgi_https;
	}

	location ^~ /phpmyadmin/ {
		proxy_pass http://phpmyadmin:80/;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	}
}

